[Desktop Entry]
Version=1.0
Type=Application
Name=Google Calendar
Comment=Google Calendar 
Exec=/home/{{ local_user }}/Applications/GoogleCalendar-linux-x64/GoogleCalendar
Icon=/home/{{ local_user }}/Pictures/icons/gcal.png
Terminal=false
StartupNotify=false
Categories=Network;Office;Calendar;;
StartupWMClass=googlecalendar-nativefier-e22938
