[Desktop Entry]
Version=1.0
Type=Application
Name=Google Calendar
Comment=Google Calendar 
Exec=google-calendar-nativefier
Icon="~/Pictures/icons/gcal.png"
Terminal=false
StartupNotify=false
Categories=Network;Office;Calendar;;
StartupWMClass=googlecalendar-nativefier-e22938
