[Desktop Entry]
Version=1.0
Type=Application
Name=Google Mail
Icon=/home/tharpem/Pictures/icons/gmail.png
Exec=/home/tharpem/Applications/GoogleMail-linux-x64/GoogleMail
Comment=Google Mail Client
Categories=Google;
Terminal=false
StartupWMClass=googlemail-nativefier-804458
